<app-header></app-header><br>
<!-- <a [routerLink]= "['pai']"> Ir para pai</a><br>
<a [routerLink]="['rxjs']"> Ir para rxjs</a><br>
<a [routerLink]="['pessoas']">Ir para pessoas</a><br>
<a [routerLink]="['user']">Ir para user</a><br> -->
<router-outlet></router-outlet>

<!-- <button mat-button color="primary">ex1aaaaaaaaaaaaaaaaaaa</button>
<div *ngIf="clientePremium; else naopremium">
    <h1>PREMIUM</h1>
</div>

<ng-template #naopremium>
    <h1>LISO</h1>
</ng-template>
<ul *ngFor = "let valor of valores">
    <li (click)="remover()">{{ valor.id }} - {{ valor.nome }} - {{ valor.descricao }} </li>
</ul>
<label>Nome</label>
<input [(ngModel)]="nome"/>
<label>Descricao</label>
<input [(ngModel)]="descricao"/>
<button (click)="adicionar()">Adicionar Item</button>

<app-binding></app-binding>

<h2>Exemplos de pipe</h2>
<p>Data: {{ data | date }}
    <br>
    nome: {{nome | appUppercase}}
</p>

<button (click)="sayHello()">Diga ola pelo service</button> -->